<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
  integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
  crossorigin="anonymous"
/>

<div class="container-fluid">
  <hr />
  <p><small class="text-muted">Uploaded by </small> {{ review.userName }}</p>
  <p>
    <small class="text-muted">Posted </small>
    {{ review.datePosted | datePassed }} days ago
  </p>
  <p>
    <span class="black">{{ review.like }} Likes </span> <br />
    <span class="red">{{ review.dislike }} Dislikes</span>
  </p>
  <hr />

  <button (click)="reviewDeletion(true)" class="btn btn-danger">Delete</button>
</div>
