.card-title{
    cursor: pointer;
}

.card-title:hover{
    color: blanchedalmond;
}

.card{
    background-color: rgba(25, 41, 47,0.67);
    color: blanchedalmond;
    border-style: groove;
    font-weight: bold;
}

.reviews{
    margin-top: 100px;
    color: blanchedalmond;
    display: inline-flexbox;
}

.container{
    width: 80%;
    text-align: center;
}

.popularReview{
    width: 20%;
    float: right;

}
.card-columns{
    column-count: 5;
}

.card-text{
    width: 100%;
}